---
import ExperienceItem from "./ExperienceItem.astro"

const experience = [
  {
    date: 'November 2023',
    title: 'Full Stack Developer at QMC',
    description: 'I worked as a full stack developer on a company platform, i was responsable for making queries to retrieve database information, developing frontend interfaces with Bootstrap 4 and jQuery, and developing backend routes with NodeJs and Express',
  },
  {
    date: 'January 2021',
    title: 'Backend Developer at Universidad Politecnica de Aguascalientes (UPA)',
    description: 'I worked as a backend developer on a university module focused on publishing the new job vacancies. I worked with NodeJs and Express, and also implemented non-relational databases with MongoDB',
  },
  {
    date: 'September 2019',
    title: 'IT assistant at Universidad Politecnica de Aguascalientes (UPA)',
    description: 'I collaborated as a IT area assistant, doing maintenance, and administrating networks at the university.',
    /* link: "#" */
  }
]
---


<ol class="relative border-s border-gray-200 ml-3">         
  {
    experience.map(exp => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>